@{
    Layout = "_Layout";
    ViewData["Title"] = "Home - fourHorsemen_Online_Video_Game_Database";
}

<div class="container">
    <h1 class="text-center">Welcome to the fourHorsemen's Video Game Database</h1>
</div>
