@{
    ViewData["Title"] = "Password Reset Successful";
}

<h1>@ViewData["Title"]</h1>

<p>Your password has been successfully reset. You can now <a href="@Url.Action("Login", "Account")">login</a>.</p>
